<!-- Schedule section -->
<section class="schedule">
  <div class="container">
    <h1 class="text-start">Schedule</h1>
    <p class="text-start small-subtitile">All times listed are in Central Daylight Time (CDT).</p>
    <!-- column one -->
    <div class="row d-flex justify-content-start justify-items-start">
      <div class="col-5 column-one">
        <h4 class="gradient-h2-one">{{site.event.saturday.day}}</h4>
        <!-- This is the start of the listing of the slots -->
        <div class="question row row-cols-2">
        {% for item in site.event.saturday.slots %}
          <p class="col text-start">{{item.time}}</p>
          <p class="col text-start">{{ item.name}}</p>
          {% endfor %}
        </div>
      </div>
      
      <!-- column two -->
      <div class="col-5 column-two">
        <h4 class="gradient-h2-two">{{site.event.saturday.day}}</h4>
        <!-- This is the start of the listing of the slots -->
        <div class="question row row-cols-2">
          {% for item in site.event.sunday.slots %}
            <p class="col text-start">{{item.time}}</p>
            <p class="col text-start">{{ item.name}}</p>
            {% endfor %}
          </div>
        </div>
  </div>
</section>