<!-- Schedule section -->
<section class="schedule">
  <div class="container">
    <!-- flex row container -->
    <div class="row d-flex justify-content-around justify-items-start" >
      <div class="offset-1 col-11  pb-4">
        <h1 class="text-start" style="padding-left: calc(var(--mdb-gutter-x)*0.5);">Schedule</h1>
        <p class="text-start small-subtitile" style="padding-left: calc(var(--mdb-gutter-x)*0.5);">All times listed are in Central Daylight Time (CDT).</p>
      </div>
      
      <!-- columns-->
      {% for day in site.event.days %}
      <div class="col" style="max-width: 32%;">
        <h4 class="{{day.gradient}}">{{day.day}}</h4>
        <!-- This is the start of the listing of the slots -->
          <div class="question row">
          {% for item in day.slots %}
            <p class="col-4">{{item.time}}</p>
            <p class="col-8">{{ item.name}}</p>
          {% endfor %}
          </div>
        </div>
      {% endfor %}

  </div>
</section>