<section class="sponsors pt-5">
    <div class="container mt-5 border-bottom border-top border-2" style="border-color: #f9f9f9 !important; padding-bottom: 10%; padding-top: 10%">
        <div class="grid text-center">
            <h1 class="title">Interested in becoming a sponsor?</h1>
            <a href="mailto:fronteradevs@gmail.com?subject=We Are Interested In Becoming A Sponsor For Frontera Hacks" class=" btn btn-outline-light w-25" role="button">Become a Sponsor</a>
        </div>
    </div>
    <img src="images/transition.svg" style="background-color: #f9f9f9; width: 100vw;" alt=""
    class="svg" />
</section>