<!-- section wrapper -->
<section class="sponsors pt-5">
  <!-- floating gradient -->
  <!-- formatting container -->
  <div class="container ps-5 wrap-layer" style="position: relative;;">
    <!-- align sponsor tiers -->
    <div class="row align-items-center text-layer">
      {% for tiers in site.event.sponsors %}
      <div class="col-12 mb-5">
        <h2 class="section-title mb-3">{{tiers.tier_name}}</h2>
        <!-- the row for the sponsors -->
        <div class="row">
          {% for sponsor in tiers.sponsors%}
          <div class="bg-image hover-overlay hover-zoom ripple" style="max-width: fit-content">
            <img class="sponsor" src="{{sponsor.image}}" alt="{{ sponsor.name }}" />
            <!-- just a style div -->
            <a href="{{sponsor.url}}" target="_blank" class="mask" >
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="background-layer">
      <img id="footer-mask-gradient" class="" src="/images/masks/GradientFooter.svg" alt="Frontera Devs Cyber Punk Core mask"></img>
    </div>
</div>
</section>